.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff0000;
  padding: 10px;
}

.banner {
  height: 900px;
  background-image: url("fast-food.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 20px;
}

.footer {
  background-color: #333333;
  color: white;
  padding: 10px;
  text-align: center;
}

.logo {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin: 0 10px;
}

.menu li a {
  color: white;
  text-decoration: none;
}

.menu li a:hover {
  color: yellow;
}